body{
    margin: 0;
   /* background: url(image/stalingrad-movie-digital.jpg); */
   background-color: #011338;
   /* background-size: cover; */
   /* background-position: center; */
   /* background-blend-mode: overlay; */
   overflow: auto;

}

header{
display: flex;
align-items: center;
background-color: rgb(3, 3, 32);
color: white;
position: sticky;
top: 0;
z-index: 999;
height: 45px;
}
.name {
    text-align: center;
    width: 100%;
    
}
.name p{
    font-size: 20px;
}
.menu-toggle {
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.menu {
   position: absolute;
   left: 0;
    width: 0px;
    background-color:rgb(3, 3, 32) ;
    transition: 1s;
    overflow: hidden;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    border-bottom: 1px solid #555;
    text-align: center;
}

.menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
}

.menu a:hover {
    background-color: #555;
}

footer{
    background-color:rgb(3, 3, 32);
    color: white;
    text-align: center;
    position: sticky;
    bottom: 0;
}
footer ul{
    display: flex;
    justify-content: center;
    
}
footer ul li{
    list-style: none;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}
.section{
    padding: 10px 0;
   
}
.section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.section ul li{
    list-style: none;
}
.movie_card{
    padding: 5px;
    border-radius: 10px;
    background-color: #282c34;
    color: #fff;
    width: 220px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;
    transition: 0.9s;
    margin: 10px;
}
.movie_card:hover{
    background-color: #fff;
    color: black;
    scale: 0.9;
}
.movie_card img{
    border-radius: 10px;
    margin-bottom: 15px;
    width: 220px;

   
}

.title{
    font-size: 16px;
    font-weight: 600;
}
.type{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

@media only screen and (max-width: 991px){
    .movie_card{
        width: 200px;
    }
    .movie_card img{
        width: 200px;
    }
}
@media only screen and (max-width: 767px){
    .movie_card{
        width: 140px;
    }
    .movie_card img{
        width: 140px;
    }
    .type{
       display: none;
    }
}
@media only screen and (max-width: 720px){
    .movie_card{
        width: 120px;
    }
    .movie_card img{
        width: 120px;
    }
}
@media only screen and (max-width: 480px){
    footer ul li{
        padding: 10px;
        font-size: 16px;
    }
    .movie_card{
        width: 100px;
        margin: 2px;
        justify-content: space-evenly;
    }
    .movie_card img{
        width: 100px;
    }
}